# Type casting:-  we convert one datatype to another data type
in type casting you cannot passed 2 arguments at once, by default only one argument is passed or allowed

# Other datatypes to int type conversion

In [5]:
int (230.34) # float to int

230

In [6]:
int (230.34,110.35) # float to int

TypeError: 'float' object cannot be interpreted as an integer

# bool to int

In [3]:
int (True)

1

In [4]:
int (False)

0

#  complex to int

In [5]:
int (1 + 2j)

TypeError: can't convert complex to int

In [14]:
z = 1 + 2j

print (int(z.real))   # 1.0
print (int(z.imag))   # 2.0

1
2

# #  String to int
number string to int is possible but text string to int is not possible

In [8]:
int ('10')

10

In [15]:
int ('ten')

ValueError: invalid literal for int() with base 10: 'ten'

 # Other datatypes to float type conversion
 
#float to int typecasting is possible
#bool to float typecasting is possible
#complex to float type casting in impossible
#string to float is possible

In [8]:
float (23)

23.0

In [9]:
float (23,20)

TypeError: float expected at most 1 argument, got 2

In [10]:
float (True)

1.0

In [11]:
float (1 + 2J)

TypeError: can't convert complex to float

In [12]:
float ('10')

10.0

In [13]:
float ('ten')

ValueError: could not convert string to float: 'ten'

In [19]:
print (float(1 + 2j.real))
print (float(1 + 2j.imag))

1.0
3.0

# Other datatypes to complex conversion 

int to complex conversion allowed only 2 arguments (real,imaginary)
complex (10 + 20j) --> (10+20j)
complex (10,20) --> (10+20j)
complex (10,20,30) --> error (real,imaginary,3rd argument not allowed)

In [20]:
complex (10)

(10+0j)

In [21]:
complex (10 + 20j)

(10+20j)

In [17]:
complex (10,20)

(10+20j)

In [18]:
complex (10,20,30)

TypeError: complex() takes at most 2 arguments (3 given)

In [19]:
complex (10.3)

(10.3+0j)

In [20]:
complex (10.3,23)

(10.3+23j)

In [21]:
complex(True)

(1+0j)

In [24]:
complex (False,False)

0j

In [22]:
complex ('10')

(10+0j)

In [26]:
complex ('10','20')

TypeError: complex() can't take second arg if first is a string

In [26]:
print(True*2)

2

In [27]:
complex ('10',20)

TypeError: complex() can't take second arg if first is a string

# all other data type to int float complex typecasting is cleared

# print () with string

In [7]:
num1=5
num2=10
num3=num1+num2
print ("The sum of",num1,'+',num2,'is=',num3)

The sum of 5 + 10 is= 15

In [13]:
name='Sayed mohammad adnan'
proffession='solution architect'
experience='10.2 years'
#profile=name+proffession+experience
print ("Hi My name is",name, 'and my profile is',proffession,'and having experience of',experience)

Hi My name is Sayed mohammad adnan and my profile is solution architect and having experience of 10.2 years

In [16]:
num1,num2,num3=10,20,30
print (num1)
print (num2)
print (num3)

10
20
30

In [21]:
num1=num2=num3=10,20,30
print (num1)
#print (num2)
#print (num3)

(10, 20, 30)

# print () with format method

In [29]:
num1=20
num2=30
num3=num1+num2
print ('the addtion of {} and {} is ={}'.format(num1,num2,num3))

the addtion of 20 and 30 is =50

# print with end statement
it joint the line from end of one statement to the starting of another statement.

In [30]:
print ('hello')
print ('world')

hello
world

In [32]:
print ('hello', end =' ')
print ('world')

hello world

# print with separator

here  we use only print statement and under one print () , will pass multipple values and can separate these multi values with any thing

In [34]:
print ('hi','my name is','adnan','living in','sharjah UAE', sep= '-->')

hi-->my name is-->adnan-->living in-->sharjah UAE

In [35]:
print ('hi','my name is','adnan','living in','sharjah UAE', sep= '@')

hi@my name is@adnan@living in@sharjah UAE

In [36]:
print ('hi','my name is','adnan','living in','sharjah UAE', sep= '$')

hi$my name is$adnan$living in$sharjah UAE

In [49]:
print(1,2, end = ' ')
print (3, '.',  sep='')

1 2 3.

In [51]:
print(1,2, end = ' ')
print (3, 'hree',  sep='')

1 2 3hree

# all other data type to bool type casting

note:- if we passed any non-zero value as an arguments in bool () then result will be True  and no value will return False

In [52]:
bool(1)

True

In [53]:
bool(0)

False

In [54]:
bool( )

False

In [55]:
bool(1.2)

True

In [56]:
bool(0.1)

True

In [57]:
bool('ten')

True

In [58]:
bool (1+2j)

True

In [59]:
bool (0+2j)

True

In [60]:
bool (2+)

SyntaxError: invalid syntax (Temp/ipykernel_7608/1957434788.py, line 1)

# All other datatypes with string is possible

In [67]:
str(1)

'1'

In [68]:
str(2.5)

'2.5'

In [69]:
str(True)

'True'

In [70]:
str(False)

'False'

In [66]:
str(1+2j)

'(1+2j)'